body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 40px palevioletred;
    border-radius: 20px;
}
.btn1{
    margin-top: 50px;
    width: 130px;
    font-size: 20px;
}